<div class="row">
    <div class="col-md-6 offset-3">
        <h2 class="text-info">You have reached the end of the Internet</h2>
    </div>
    <hr />
    <a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">Home Page</a>
   
</div>