@{
    Layout = null;
}
<link href="~/landingpage/assets/style.css" rel="stylesheet" />
<link href="~/landingpage/assets/fontawesome-free-6.3.0-web/css/all.css" rel="stylesheet" />
<link href="~/landingpage/assets/swiper/swiper-bundle.min.css" rel="stylesheet" />
<body>
    <div class="wrapper">
        <div class="logo-1">
           <img src="~/landingpage/assets/images/img/logo 2.png" />
        </div>
        <div class="login-selection">
            <button class="user-button" id="student-button">
                <div class="Icon">
                    <img src="~/landingpage/assets/images/img/student-boy-icon.png" />
                </div>
                <div class="Log-As">
                    <a asp-action="Login" asp-controller="Account"> <h4>Log in as a Student</h4></a>
                </div>
                <div class="Arw">
                    <img src="~/landingpage/assets/images/img/arrow-right-3098.png" />
                </div>
            </button>
        </div>

        <div class="login-selection">
            <button class="user-button" id="student-button">
                <div class="Icon">
                    <img src="~/landingpage/assets/images/img/264763.png" />
                </div>
                <div class="Log-As">
                    <a asp-action="Login" asp-controller="Account"> <h4>Log in as a Teacher</h4></a>
                </div>
                <div class="Arw">
                    <img src="~/landingpage/assets/images/img/arrow-right-3098.png" />
                </div>
            </button>
        </div>

        <div class="login-selection">
            <button class="user-button" id="student-button">
                <div class="Icon">
                   <img src="~/landingpage/assets/images/img/599363.png" />
                </div>
                <div class="Log-As">
                    <a asp-action="Login" asp-controller="Account"> <h4>Log in as a Public User</h4></a>
                </div>
                <div class="Arw">
                    <img src="~/landingpage/assets/images/img/arrow-right-3098.png" />
                </div>
            </button>
        </div>

        <div class="login-selection">
            <button class="user-button" id="student-button">
                <div class="Icon">
                  <img src="~/landingpage/assets/images/img/—pngtree—school icon_4871640.png" />
                </div>
                <div class="Log-As">
                    <a asp-action="Login" asp-controller="SchoolAccount"> <h4>Log in as a School</h4></a>
                </div>
                <div class="Arw">
                   <img src="~/landingpage/assets/images/img/arrow-right-3098.png" />
                </div>
            </button>
        </div>

  @*       <div class="login-selection">
            <button class="user-button" id="student-button">
                <div class="Icon">
                    <img src="~/landingpage/assets/images/img/3842554-200.png" />
                </div>
                <div class="Log-As">
                    <h4>Log in as a Zonal Office</h4>
                </div>
                <div class="Arw">
                    <img src="~/landingpage/assets/images/img/arrow-right-3098.png" />
                </div>
            </button>
        </div> *@
    </div>

</body>