<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(Social Book)Responsive social media Website</title>

    <!-- .................CUSTOM CSS LINK................. -->
    <link rel="stylesheet" href="./Assets/Style.css">

    <!-- ...............Font Awesome Link................. -->
    <link rel="stylesheet" href="./Assets/fontawesome-free-6.3.0-web/css/all.css">

    <!-- ...............Swiper Slider Link.................. -->
    <link rel="stylesheet" href="./Assets/Swiper/swiper-bundle.min.css">


</head>
<body>


    <!-- ...................Start Navbar................... -->
    <nav>
        <div class="container nav-container">
            <div class="logo">
                <img src="Assets/images/img/logo 2.png" alt="">
            </div>
            <div class="serch-bar">
                <i class="fa fa-search"></i>
                <input type="search" placeholder="Serch">
            </div>
            <div class="add-post">
                <!-- ..... <label for="add-post" class="btn btn-primary mini-button" >Add Post</label> ..... -->
                <div class="profile-picture" id="my-profile-picture">
                    <img src="./Assets/images/img/profile-1.jpeg" alt="">
                </div>
            </div>
        </div>
    </nav>
    <!-- ...................Start Navbar................... -->
    <div class="topic">
        <H1>Schools</H1>
    </div>
    <div class="Man-container">
        <div class="Man col-4">
            <div class="card__content">
                <div class="swiper-wrapper">
                    <article class="card__article swiper-slide">
                        <div class="card__image">
                            <img src="Assets/images/img/f4.jpg" alt="image" class="card__img">
                            <div class="card__shadow"></div>
                        </div>

                        <div class="card__data">
                            <h3 class="card__name">Kell Dawx</h3>
                            <p class="card__description">
                                Passionate about development and design,
                                I carry out projects at the request of users.
                            </p>
                            <div class="VM">
                                <a href="#" class="card__button2">Edit</a>
                                <a href="#" class="card__button">Show Details</a>
                                <a href="#" class="card__button3">Delete</a>
                            </div>

                        </div>
                    </article>
                </div>
            </div>
        </div>


        <div class="Man col-4">
            <div class="card__content">
                <div class="swiper-wrapper">
                    <article class="card__article swiper-slide">
                        <div class="card__image">
                            <img src="Assets/images/img/f4.jpg" alt="image" class="card__img">
                            <div class="card__shadow"></div>
                        </div>

                        <div class="card__data">
                            <h3 class="card__name">Kell Dawx</h3>
                            <p class="card__description">
                                Passionate about development and design,
                                I carry out projects at the request of users.
                            </p>
                            <div class="VM">
                                <a href="#" class="card__button2">Edit</a>
                                <a href="#" class="card__button">Show Details</a>
                                <a href="#" class="card__button3">Delete</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>







</body>
</html>